<div id="shopmcart-modal" class="popup-box mcart-popup-box mfp-content">
    <div class="title"><h3>{{ t('app', 'Ваш товар успешно добавлен в корзину') }}</h3></div>
    <div class="clearfix">
        <a onclick="$.magnificPopup.close()" class="left btn3">{{ t('app', 'Продолжить покупки') }}</a>
        <a href="{{ cart.url }}" class="right btn no-arrow">{{ t('app', 'Оформить заказ') }}</a>
    </div>
</div>
