<div id="shopmcart-modal" class="popup-box mcart-popup-box mfp-content">
    <div class="title"><h3>{{ t('app', 'Ваш товар успешно добавлен в список желаний') }}</h3></div>
    <div class="clearfix">
        <a onclick="$.magnificPopup.close()" class="left btn3">{{ t('app', 'Закрыть окно') }}</a>
        <a href="{{ wishlist.url }}" class="right btn no-arrow">{{ t('app', 'Открыть список') }}</a>
    </div>
</div>
